<div class="page-specific">
  <h2> Our Product Line Is Entirely High-End. Don't Settle For Less. </h2> 
  <h3> Genuine leather. Real Silver. Handcrafted.</h2>
  <div id="click-notice-container">
    <p id="image-click-notice"> Click on images for a closer look </p>
  </div>
  <br/>
  
  <p class="pic-descriptions"> "Circulo Grave" Premium Belt $11,280 <br/>
  Reference Code: MP70</p>
  <a id="p1" class="fluidbox-links" href="/assets/p1.jpg">
    <img src="/assets/p1.jpg"/ alt="product-1">
  </a> 
  <br/><br/><br/>
  
  <p class="pic-descriptions"> "Tres Horsemen" Wallet Line $5,800 ea <br/>
  Multiple Varieties </p>
  <a id="p2" class="fluidbox-links" href="/assets/p2.jpg">
    <img src="/assets/p2.jpg"/ alt="product-2">
  </a>
  <br/><br/><br/> 
  <p class="pic-descriptions"> "Tristeza Metálica" <br/>
  Wallet + Belt Fashion Combination $15,980 <br/>
  Reference Code: ML72</p>
  <a id="p3" class="fluidbox-links" href="/assets/p3.jpg">
    <img src="/assets/p3.jpg"/ alt="product-3">
  </a>
  <br/><br/><br/>
  
  <p class="portrait-descriptions"> "Oportunidades" Premium Belt $10,900<br/>  
  Reference Code: MA71</p>
  <a id="p4" class="fluidbox-links" href="/assets/p4.jpg">
    <img class="portrait" src="/assets/p4.jpg"/ alt="product-4">
  </a>
  <br/><br/><br/>
  
  <p class="portrait-descriptions"> "La Unica" Premium Belt $11,650 <br/>
  Reference Code: MJ69 </p>
  <a id="p5" class="fluidbox-links" href="/assets/p5.jpg">
    <img class="portrait" src="/assets/p5.jpg"/ alt="product-5">
  </a>
  <br/><br/><br/>
  
  <p class="portrait-descriptions"> "Continuum" Premium Belt $11,100 <br/>
  Reference Code: MS68 </p>
  <a id="p6" class="fluidbox-links" href="/assets/p6.jpg">
    <img class="portrait" src="/assets/p6.jpg"/ alt="product-6">
  </a>
  <br/><br/><br/>
  
  <p class="portrait-descriptions"> "Devoid of Void" Premium Belt $11,700 <br /> 
  Reference Code: MM67</p>
  <a id="p7" class="fluidbox-links" href="/assets/p7.jpg">
    <img class="portrait" src="/assets/p7.jpg"/ alt="product-7">
  </a>
</div>