<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p> 
      New Message from: <%= $customer_name %>
      <br/>
      Reply email: <%= $customer_email %>
      <br/>
      Message: <%= $message_content %>
    </p>
  </body>
</html>