// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html{
 height:100%;
 min-height:100%;
 }

body {
  background-image: url("/assets/ranchero_background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #432d16;
  min-height:100%;
  margin: 0;
  padding: 0 0 1em 0;
}

a { 
  text-decoration: none !important;
  color: white;
  text-align: center;
  position: relative;
}


footer {
  background-color: black;
  color:white;
  font-size: 1em;
  width: 105%;
  right: 0;
  bottom: -13.5%;
  text-align: center;
  position: absolute;
  height: 9vh;
}

.page-specific {
  position: relative;
  top: 3.5em;
  min-height: 85vh;
  margin-top: 5vh;
  text-align: center;
}

#everything {
  min-height: 100%;
  position: relative;
}

h1, #index-tagline {
  position: relative;
  top:20vh;
  font-size: 3.5em;
  text-align: center;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-weight: 750;
}

#index-tagline {
  font-size: 1.25em;
}

/* header */
nav {
  background-color: black !important;
  color:white;
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 2em;
  text-align: center;
}

.head-links:hover {
  color: #707070;
}

.head-links {
  position: relative;
}

#home {
  right:4em;
}

#products {
  right: 1.5em;
}

#gallery {
  left: 1.5em;
}

#contact {
  left: 4em;
}

/* pics */
img {
  height: 10em;
  width: 15em;
  margin: 1em;
}

.portrait {
  height:15em;
  width:10em;
}

.fluidbox__wrap {
  display: inline;
}
  