// Place all the styles related to the main controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html{
 height:100%;
 min-height:100%;
 }

body {
  background-image: url("/assets/ranchero_background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: #432d16;
  min-height:100%;
  margin: 0;
  padding: 0 0 1em 0;
}

a { 
  text-decoration: none !important;
  color: white;
  // text-align: center;
  position: relative;
}


#footer {
  background-color: black;
  color:white;
  font-size: 1em;
  text-align: center;
  min-height: 2.5em;
}

.page-specific {
  position: relative;
  top: 3.5em;
  min-height: 85vh;
  margin: 5vh 0 5vh 0;
  text-align: center;
}

#everything {
  min-height: 100%;
  position: relative;
}

h1, #index-tagline {
  position: relative;
  top:10vh;
  font-size: 3.5em;
  text-align: center;
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-weight: 750;
}

#index-tagline {
  font-size: 1.25em;
  margin-bottom: 2em;
}

.pic-descriptions, .portrait-descriptions {
  background-color: white;
  width:21.5em;
  margin:auto;
  border-radius: 7px;
}

.portrait-descriptions {
  width: 17em;
}

/* header */
#header {
  background-color: black !important;
  color:white;
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 2em;
  text-align: center;
}

.head-links:hover {
  color: #707070;
}

.head-links {
  position: relative;
}

#home {
  right:4em;
}

#products {
  right: 1.5em;
}

#gallery {
  left: 1.5em;
}

#contact {
  left: 4em;
}

/* pics */
img {
  height: 16.5em;
  width: 21.5em;
  margin: 1em;
}

.portrait {
  height:21.5em;
  width:16.5em;
}

.fluidbox__wrap {
  display: inline;
}

/* carousel */
#carousel-example-generic {
  text-align: center;
  width: 60em;
  height: 40em;
  position: relative;
  margin: auto;
  margin-top: 4em;
}

.item > img {
  margin: auto;
  text-align: center;
  height: 30em !important;
  width: 30em;
  position: relative;
  top: 2em;
}

.item, .carousel-inner {
  width: 60em;
  height: 40em;
}

.carousel-caption {
  color: #432d16;
  font-size:1.5em;
  background-color: white;
  height:1.5em;
  width:20em;
  position: relative;
  left: 10em;
  right:0em;
  bottom:-1.25em;
  padding:0;
}
  