<!DOCTYPE html>
<html>
<head>
  <title>TetipacSite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/fluidbox/2.0.3/js/jquery.fluidbox.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fluidbox/2.0.3/css/fluidbox.min.css">
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="everything">
    <header>
      <a id="home" class="head-links" href="/">Home</a> 
      <a id="products" class="head-links" href="/main/products">Products</a> 
      <a id="gallery" class="head-links">Gallery</a>
      <a id="contact" class="head-links">Contact</a>
    </header>

    <%= yield %>
    
    <footer>
      Tetipac Fashion 2016
    </footer>
  </div>
</body>
</html>
